.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  .title {
    font-family: 'YellowTail', sans-serif;
    font-size: 32pt;
    color: #42383B;
  }

  .task-done {
    text-decoration: line-through;
  }





  .checkbox-wrapper-48 {
    --gray: #636e72;
    --very-light-gray: #eee;
    --light-gray: #9098A9;
    --x-light-gray: #dfe6e9;
    --gradient: linear-gradient(180deg, #E02020 0%, #FA6400 17%, #F7B500 33%, #6DD400 50%, #0091FF 67%, #6236FF 83%, #B620E0 100%);
  }

  .checkbox-wrapper-48 label {
    font-size: 1.35em;
  }

  /* CORE STYLES */
  .checkbox-wrapper-48 input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 2em;
    height: 2em;
    font: inherit;
    border: 0.1em solid var(--light-gray);
    margin-bottom: -0.125em;
  }
  .checkbox-wrapper-48 input[type=checkbox] {
    border-radius: 0.25em;
  }
  .checkbox-wrapper-48 input:checked {
    border-color: transparent;
    background: var(--gradient) border-box;
    box-shadow: 0 0 0 0.1em inset #fff;
  }
  .checkbox-wrapper-48 input:not(:checked):hover {
    border-color: transparent;
    background: linear-gradient(#fff, #fff) padding-box, var(--gradient) border-box;
  }
  .date_input{
    width:40% ;
  }

  .span-date{
    color: #E02020;
  }



